


.jumbotron {
    background-color: lightblue;
    padding-top: 200px;
}
.about-section {
    padding-top: 100px;
}

.project-section {
    padding-top: 100px;
}

.tools-section {
    padding-top: 100px;
}

.contact-section {
    padding-top: 100px;
}

